:root {
  --font-family: "Jost", sans-serif;
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
}

.eventos {
  padding: 40px 17px;
  position: relative;
}
.eventos .eventos-linea {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 40%;
  left: 0;
}

.mobile h4 {
  color: var(--color-secondary);
  font-size: 30px;
  font-weight: 400;
}
.mobile p {
  font-size: 16px;
  font-weight: 400;
}
.mobile img {
  width: 100%;
  height: 50%;
  z-index: 2;
}
.mobile .cajas-imagen {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.mobile .mobile-caja1 .mobile-img1 {
  height: 80%;
  width: 80%;
}
.mobile .mobile-caja2 .mobile-img2 {
  height: 80%;
  width: 80%;
}
.mobile .mobile-text1 {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 10%;
}
.mobile .mobile-text1 p {
  margin-left: -15%;
}
.mobile .mobile-text2 {
  margin-right: 10%;
}
.mobile .mobile-text2 h4 {
  padding-top: 10%;
  text-align: right;
}
.mobile .mobile-text2 p {
  text-align: right;
}
.boton-eventos {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-eventos {
  width: 80%;
}
.desktop {
  display: none;
}
.eventos .boton-menu {
  display: none;
}
.eventos .vectEventos {
  display: none;
}
.eventos-boton {
  display: none;
}
@media (min-width: 768px) {
  .eventos {
    padding: 0 40px;
  }
  .boton-eventos {
    display: none;
  }
  .eventos .eventos-boton {
    display: flex;
    justify-content: flex-end;
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    padding: 4px 15px;
    font-size: 32px;
    margin-left: 40px;
  }
  .eventos .eventos-boton .nav-link .Section-button {
    border: 1px solid var(--color-secondary);
    padding: 5px 100px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    margin-top: 5%;
  }
  .eventos .eventos-linea {
    display: none;
  }
  .eventos .vectEventos {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: -50%;
  }
}
@media (min-width: 768px) {
  .eventos {
    padding: 0 80px;
  }
}
