@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,100&family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

/*Etiquetas comunes a las secciones*/

.Section-title {
  color: white;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  margin-right: 1em;
}
.Section-link {
  text-decoration: none;
  color: #fad02c;
}
.Section-link:hover {
  background-color: #fad02c;
  color: #010101;
  padding: 4px;
  border-radius: 5px;
}
.Section-subtitle {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 16px;
}
.Section-btn {
  display: flex;
  justify-content: flex-end;
  background-color: #010101;
  padding: 10px 0;
}
.Section-button {
  border: 1px solid #fad02c;
  color: #fad02c;
  background: none;
  margin: 10px;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}
.Section-button:hover {
  background-color: #fad02c;
  color: black;
  box-shadow: 0 0 20px #fad02c, 0 0 4px #fad02c, 0 0 20px #fad02c;
}

/*.Section-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


 .Section-link {
  text-decoration: none;
  color: #fad02c;
} 

.Section-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/*Experiencia*/

.experiencia {
  overflow: hidden;
  position: relative;
  border: 1px solid blue;
  padding: 40px 0;
  color: #ffffff;
}

.experiencia .experiencia-linea {
  width: 150%;
  height: 150%;
  position: absolute;
  z-index: 1;
  left: -2%;
  top: -20%;
  animation-name: deploy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes deploy {
  0% {
    filter: drop-shadow(0 2px 2px rgb(79, 14, 14));
  }
  50% {
    filter: drop-shadow(0 2px 10px rgb(255, 17, 0));
  }
  100% {
    filter: drop-shadow(0 2px 13px rgb(255, 0, 0));
  }
}
.experiencia .experiencia-logo img {
  position: relative;
  z-index: 2;
  width: 80%;
}
.experiencia .experiencia-imagen {
  display: none;
}
.experiencia .experiencia-mensaje {
  display: flex;
}
.Experiencia-text {
  font-size: 18px;
  font-family: "Jost";
  color: white;
  z-index: 2;
  position: relative;
  margin: auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .experiencia .experiencia-imagen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .experiencia .experiencia-imagen img {
    z-index: 2;
    position: relative;
    width: 80%;
    height: 80%;
  }

  .experiencia-mensaje {
    display: flex;
  }
  .Experiencia-text {
    font-size: 20px;
    font-family: "Jost";
    color: white;
    z-index: 2;
    position: relative;
  }
  .experiencia .experiencia-linea {
    width: 140%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -37%;
    top: -0%;
  }
}
@media (min-width: 991px) {
  .experiencia .experiencia-imagen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .experiencia .experiencia-imagen img {
    z-index: 2;
    position: relative;
    width: 80%;
    height: 80%;
  }

  .experiencia .experiencia-logo img {
    /* position: relative; */
    z-index: 2;
    width: 80%;
    height: 80%;
    margin-top: 20%;
  }
  .experiencia .experiencia-linea {
    width: 140%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -37%;
    top: -0%;
  }
  .experiencia-mensaje {
    display: flex;
  }
  .Experiencia-text {
    font-size: 28px;
    font-family: "Jost";
    color: white;
    z-index: 2;
    position: relative;
  }
}
/* El Lugar */
.lugar {
  margin: 50px 0;
  color: #ffffff;
  position: relative;
}
.lugar .lugar-link {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.lugar .Lugar-img {
  padding: 5px;
  height: 100%;
}
.oculto {
  display: none;
}

@media (min-width: 768px) {
  .oculto {
    display: block;
  }
  .mostrar {
    display: none;
  }
  .lugar .Lugar-img {
    padding: 0px;
    height: 100%;
  }
  .Section-btn {
    display: flex;
    justify-content: flex-end;
    background-color: #010101;
    padding: 40px 0;
  }
}

/* El Menu */

.seccion-menu {
  color: #ffffff;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}
.menu-linea {
  position: absolute;
  width: 300%;
  left: -5%;
  height: 100%;
  top: -5%;
  animation-name: deploy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes deploy {
  0% {
    filter: drop-shadow(0 2px 2px rgb(79, 14, 14));
  }
  50% {
    filter: drop-shadow(0 2px 10px rgb(255, 17, 0));
  }
  100% {
    filter: drop-shadow(0 2px 13px rgb(255, 0, 0));
  }
}
.menu-linea img {
  height: 100%;
}

.menu-seccion1 .menu1 {
  width: 50%;
}
.menu-seccion2 .menu2 {
  width: 65%;
}
.menu-link {
  position: absolute;
  top: 3%;
  left: 50%;
}

.menu-seccion1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.menu-seccion2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.menu-text1 {
  padding-top: 10%;
  margin-left: 5%;
}
.menu-text1 h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost";
}
.menu-text1 P {
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost";
}
.menu-text2 {
  padding-top: 10%;
  margin-right: 5%;
}
.menu-text2 h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost";
}
.menu-text2 P {
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost";
}
.menu-mostrar {
  display: none;
}
.Section-btnMenu{
  display: flex;
  justify-content: flex-end;

  padding: 40px 0;
}
@media (min-width: 768px) {
  .menu-mostrar {
    display: block;
  }
  .menu-seccion1,
  .menu-seccion2,
  .menu-seccion3 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .menu-linea {
    left: -100%;
    width: 300%;
    top: -15%;
  }
  .menu-seccion1 .menu1 {
    width: 75%;
    margin-top: 10%;
  }
  .menu-seccion3 .menu3 {
    width: 100%;
    z-index: 2;
  }
  .menu-seccion2 .menu2 {
    width: 100%;
    z-index: 3;
  }
  .menu-text1 {
    padding-top: 0;
    margin: 0 auto;
  }
  .menu-text2 {
    padding-top: 0;
    margin: 0 auto;
  }
  .menu-text3 {
    padding-top: 0;
    margin: 0 auto;
  }
  .menu-text3 h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Jost";
  }
  .menu-text3 p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost";
  }
}
/* .Experiencia{
  min-height: 15rem;
  background-color: orange;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.line-wrapper{
  width: 500px;
  overflow: hidden;
}

.Experiencia-line{
  position:absolute;
  height: 15em;
  left: -55%;
}
.Experiencia-wrapper{
    position:absolute;
}
.Experiencia-logo{
  min-width: 35%;
  margin: 0 1.5em 
}
.Experiencia-text{
   font-size: 18px;
  font-family: "Jost";
  color:white;
  margin: 0 1em;
}
.Experiencia-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: space-evenly;
}

.Experiencia-img-desk{
  display:none;
  
}

@media (min-width: 768px){

  .Experiencia{
    min-height: 25em;
    max-width: 1400px;
    margin:auto;
  }
  .Experiencia-img-desk{
    display:block;
    max-width: 20em;
  }
  .Experiencia-line{
    position:absolute;
    height: 20em;
    top:20%;
    left: -1%;
  }

}

@media (min-width: 1200px){
  .Experiencia{
    min-height: 35em;
  }
} */

/*Lugar*/

/* .Lugar {
  min-height: 55em;
  background-color: burlywood;
  overflow: hidden;
  position: relative;
  max-width: 1400px;
  margin: auto;
}

.Lugar-line {
  position: absolute;
  height: 25em;
  top: 15em;
  left: -99%;
  z-index: 2;
}

.Lugar-wrapper {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.Lugar-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.Lugar-img {
  background-color: red; 
  min-width: 100%;
  min-height: 15em;
  background-repeat: no-repeat;
  background-size: cover;
}

.lugar1 {
  background-image: url("/img/lugar/lugar1b.png");
  background-position: top;
  grid-column-start: 1;
  grid-column-end: -1;
  min-width: 100%;
}
.lugar2 {
  background-image: url("/img/lugar/lugar2b.jpeg");
  min-height: 25em;
}
.lugar3 {
  background-image: url("/img/lugar/lugar3b.jpeg");
  background-position: bottom;
}
.lugar4 {
  display: none;
  background-image: url("/img/lugar/lugar4.png");
}

@media (min-width: 768px) {
  .Lugar {
    min-height: 40em;
  }

  .Lugar-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
  }
  .Lugar-img {
    min-height: 12em;
  }

  .lugar4 {
    display: block;
    background-position: left;
  }

  .lugar1 {
    background-color: cyan;
    background-position: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/3;
    min-width: 5em;
    min-height: 40%;
  }
  .lugar2 {
    grid-row: 1/3;
  }
  .lugar3 {
    background-position: bottom;
  }
}

Menu

.Menu {
  min-height: 45em;
  background-color: brown;
  overflow: hidden;
  position: relative;
  color: white;
  font-family: "Jost";
  max-width: 1400px;
  margin: auto;
}

.Menu-line {
  position: absolute;
  height: 25em;
  top: 15em;
  left: -99%;
  z-index: 2;
}

.Menu-wrapper {
  position: absolute;
  z-index: 3;
}

.Menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.Menu-card-text {
  margin: 2em;
}
.Menu-card-text h4 {
  font-size: 1.5em;
  font-weight: 600;
}

.Menu-card-img {
  max-width: 60%;
}

.Menu-card-img1 {
  max-width: 50%;
}
.menu3 {
  display: none;
}

@media (min-width: 490px) {
  .Menu {
    min-height: 55em;
  }
}
@media (min-width: 600px) {
  .Menu {
    min-height: 65em;
  }
}

@media (min-width: 768px) {
  .Menu {
    min-height: 42em;
  }
  .Menu-card-img {
    max-width: 90%;
  }
  .Menu-content {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Menu-card {
    flex-direction: column;
    align-items: center;
  }
  .menu1 {
    flex-direction: column-reverse;
  }

  .menu3 {
    display: block;
  }
  .menu2 .menu3 {
    flex-direction: column-reverse;
  }

  .Menu-line {
    left: 0;
    top: 4em;
  }
}

@media (min-width: 1100px) {
  .Menu {
    min-height: 50em;
  }
}

Eventos

.Eventos {
  min-height: 50em;
  background-color: green;
  overflow: hidden;
  position: relative;
  color: white;
  font-family: "Jost";
  margin: auto;
  max-width: 1400px;
}

.Eventos-line {
  position: absolute;
  height: 25em;
  top: 8em;
  left: -90%;
  z-index: 2;
}

.Eventos-wrapper {
  position: absolute;
  z-index: 3;
}

.Eventos-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Eventos-card-text {
  color: white;
}
.Eventos-card-text h4 {
  font-family: "Oleo Script Swash Caps";
  font-size: 3em;
  font-weight: 600;
}

.Eventos-card-img1 {
  max-width: 60%;
}

.Eventos-card-img2 {
  max-width: 45%;
}

@media (min-width: 768px) {
  .Eventos-content {
    display: flex;
    justify-content: space-between;
  }
  .Eventos-card {
    flex-direction: column;
  }
  .Eventos-card:first-child {
    flex-direction: column-reverse;
  }

  .Eventos-card-img1 {
    max-width: 60%;
  }

  .Eventos-card-img2 {
    max-width: 30%;
  }

  .Eventos-line {
    left: 0;
  }
} */
