@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,100&family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

/*Etiquetas comunes a las secciones*/
:root {
  --font-family: "Jost", sans-serif;
  --font-familySecundario: "Train One";
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
  ---buttom-shadow: 0 0 20px #fad02c, 0 0 4px #fad02c, 0 0 20px #fad02c;
}

.Section-title {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  margin-top: 11px;
 
}
.Section-texto {
  font-family: var(--font-family);
  z-index: 2;
}
.Section-sub-title {
  font-family: var(--font-familySecundario);
  font-size: 16px;
  font-weight: 400;
 
}
.Section-link {
  text-decoration: none;
  color: #fad02c;
}
.Section-link:hover {
  background-color: #fad02c;
  color: #010101;
  padding: 4px;
  border-radius: 5px;
}

.Section-btn {
  display: flex;
  justify-content: flex-end;
  background-color: #010101;
  padding: 10px 0;
}
.Section-button {
  border: 1px solid #fad02c;
  color: #fad02c;
  background: none;
  margin: 10px;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}
.Section-button:hover {
  background-color: #fad02c;
  color: black;
  box-shadow: var(---buttom-shadow);
}

/*Experiencia*/

.experiencia {
  overflow: hidden;
  position: relative;
  color: #ffffff;
}


.experiencia .experiencia-linea {
  width: 150%;
  height: 100%;
  position: absolute;
  animation-name: expe;
  left: -40%;
  top: 0%;

}

.experiencia .experiencia-logo {
  z-index: 2;
}
.experiencia .caja-logo {
  width: 60%;
  margin-left: 10%;
}
.experiencia .experiencia-imagen {
  display: none;
}

.experiencia-mensaje {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 20%;
}
@media (min-width: 768px) {
  .experiencia {
    overflow: hidden;
    position: relative;
    color: var(--color-primary);
    padding: 20px 0;
  }
  .experiencia .experiencia-imagen {
    display: block;
    z-index: 2;
  }
  .experiencia .experiencia-img-desk {
    width: 80%;
  }

  .experiencia-mensaje {
    font-size: 24px;
    font-family: "Jost";
    color: var(--color-primary);
    z-index: 2;
    position: relative;
  }
  .experiencia .experiencia-linea {
    width: 150%;
    height: 200%;
    position: absolute;
    z-index: 1;
    left: -7%;
    top: -50%;
  }
}
@media (min-width: 991px) {

  .Section-title {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 11px;
    font-size: 48px;
    padding-left: 80px;
  }
  
  .experiencia .experiencia-img-desk {
    
    width: 90%;
    height: 90%;
  }

  .experiencia .caja-logo{

    width: 80%;
    height: 80%;
    margin-top: 5%;
  }
  .experiencia .experiencia-linea {
    width: 120%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -3%;
    top: -0%;
  }
  .experiencia-mensaje {
    display: flex;
  }
  .experiencia .experiencia-mensaje {
    font-size: 36px;
    font-family:var(--font-family);
    color: var(--color-primary);
    z-index: 2;
    position: relative;
    
  }
}
/* El Lugar */
.lugar {
  margin: 10px 0;
  color: #ffffff;
  position: relative;
}
.lugar .lugar-link {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.lugar .Lugar-img {
  padding: 5px;
  height: 100%;
}
.oculto {
  display: none;
}
.Section-btn {
  display: flex;
  justify-content: flex-end;
  background-color: #010101;
  box-shadow: 3px 4px 10px #010101;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .oculto {
    display: block;
  }
  .Section-sub-title {
    font-family: var(--font-familySecundario);
    font-size: 24px;
    font-weight: 400;
   
  }
  .mostrar {
    display: none;
  }
  .lugar .Lugar-img {
    padding: 0px;
    height: 100%;
  }
  .Section-btn {
    display: flex;
    justify-content: flex-end;
    background-color: #010101;

    padding: 30px 0;
  }
}
@media (min-width: 991px) {

  .Section-sub-title {
    font-family: var(--font-familySecundario);
    font-size: 36px;
    font-weight: 400;
    padding-left: 80px;
  }
  
}


/* El Menu */

.seccion-menu {
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.menu-linea {
  position: absolute;
  width: 500%;
  height: 100%;
  transform: rotate(-20deg);
  left: -40%;
  top: -40%;
 
}

.menu-linea img {
  height: 100%;
}

.menu-seccion1 .menu1 {
  width: 50%;
}
.menu-seccion2 .menu2 {
  width: 65%;
}
.menu-link {
  position: absolute;
  top: 3%;
  left: 50%;
}

.menu-seccion1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.menu-seccion2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.menu-text1 {
  padding-top: 10%;
  margin-left: 5%;
}
.menu-text1 h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost";
}
.menu-text1 P {
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost";
}
.menu-text2 {
  padding-top: 10%;
  margin-right: 5%;
}
.menu-text2 h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost";
}
.menu-text2 P {
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost";
}
.menu-mostrar {
  display: none;
}
.Section-btnMenu {
  display: flex;
  justify-content: flex-end;

  padding: 5px 0;
}
@media (min-width: 768px) {
  .menu-mostrar {
    display: block;
  }
  .menu-seccion1,
  .menu-seccion2,
  .menu-seccion3 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .menu-linea {
    transform: rotate(0);
    width: 140%;
    height: 150%;
    left: -35%;
  }
  .menu-seccion1 .menu1 {
    width: 75%;
    margin-top: 10%;
  }
  .menu-seccion3 .menu3 {
    width: 100%;
    z-index: 2;
  }
  .menu-seccion2 .menu2 {
    width: 100%;
    z-index: 3;
  }
  .menu-text1 {
    padding-top: 0;
    margin: 0 auto;
  }
  .menu-text2 {
    padding-top: 0;
    margin: 0 auto;
  }
  .menu-text3 {
    padding-top: 0;
    margin: 0 auto;
  }
  .menu-text3 h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Jost";
  }
  .menu-text3 p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost";
  }
}
@media (min-width: 991px) {
  .menu-linea{
    width: 120%;
    height: 80%;
    left: -5%;
    top: 5%;
  }
}

/* Eventos */

.eventos {
  color: #ffffff;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.eventos-link {
  position: absolute;
  top: 3%;
  left: 50%;
}
.eventos-linea {
  position: absolute;
  width: 200%;
  left: -35%;
  height: 100%;
  top: -10%;
  transform: rotate(-30deg);

}

.eventos1 {
  z-index: 3;
}
.eventos1 .eventos-text {
  margin-left: 30px;
}
.eventos1 .eventos-img1 {
  height: 80%;
  margin-left: 10%;
}

.eventos2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.eventos2 .eventos-img2 {
  width: 70%;
  height: 65%;
  margin-top: -15%;
  z-index: 2;
}
.eventos2 .eventos-text {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .eventos1 .eventos-img1 {
    width: 70%;
    margin-left: 30%;
    margin-top: 5%;
    z-index: 2;
  }
  .eventos2 .eventos-img2 {
    width: 50%;
    height: 70%;
    margin-top: -5%;
    margin-left: 10%;
    z-index: 2;
  }
  .eventos-linea {
    position: absolute;
    width: 200%;
    left: -55%;
    height: 100%;
    top: 10%;
    transform: rotate(-20deg);
    
  }
}

/* Instagram */

.instagram {
  position: relative;
  color: #ffffff;
  margin-top: 40px;
}
.instagram-link {
  position: absolute;
  top: 3%;
  left: 50%;
}
.row .instagram-imagenes {
  width: 30%;
}
.instagram .instagram-oculto1 {
  display: none;
}
.instagram .instagram-oculto2 {
  display: none;
}

.caja-instagram {
  display: flex;

  justify-content: space-between;
}

@media (min-width: 768px) {
  .instagram .instagram-oculto1 {
    display: flex;
    justify-content: space-between;
  }
  .instagram .instagram-oculto2 {
    display: flex;
    justify-content: space-between;
  }
  .caja-instagram {
    margin: 20px 0;
  }
}
