@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
.Lugar-wrapper{
    margin:0 auto;
    /* background-color: aqua; */
    max-width: 1440px;
}
.content {
    padding: 37px 25px;
    background-image: url(/img/LugarMas/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

/* .content{
    width: 100%;
    background-image: url(/img/LugarMas/back.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment:fixed;
    background-position: left;
    padding:2em;
} */

/* .wrapper{
    max-width: 1440px;
    margin:auto;
} */

/* .Header-text{
     margin-top: -10%;
    min-width:100%;
    background-color: crimson;
} */
/* .Lugar-header-img{
    min-width: 100%;
    mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
} */

/* .Lugar-h2{
    color: white;
    /* background-color: yellow; 
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    z-index: 2;
    position: relative;
} */

/* .Lugar-h3{
    color: white;
    font-family: 'Train One', cursive;
    font-size: 1.5em;
    /* background-color: orange; 
    text-align: center;
} */

.Lugar-h4{
    color: white;
    font-family: 'Train One', cursive;
    font-size: 2rem;
    /* background-color: orange; */
    text-align: left;
}

p{
    font-family: 'Jost';
    color: white;
}

.Lugar-container{
    max-width: 100%;
    /* background-color: darkgoldenrod; */
    margin: 3em 0;
}

.Lugar-header-text{
    /* background-color: blueviolet; */
    color:white;
    font-size: 1em;
}

.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.txt-center{
    text-align: center;
}

.Lugar-img-wrapper{
    max-width: 1420px;
    margin:auto;
}

.Lugar-img{
    /* min-height: 10em; */
    width: 100%;
    /* background-color:deeppink; */

}

.Lugar-img-dsk{
    display: none;
    width: 100%;
    /* min-height: 10em;
    background-color: red; */
}

.map-wrapper{
    display: flex;
    justify-content: center;
}

.map{
    border-radius: 20px;
}

@media (min-width: 768px) {
    .Lugar-img-dsk{
        display:block;
    }

}
