.main{
 position: relative;
 border: 1px solid green ;
 height: 300px;
}
.main-secciones{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.main img{
    width: 100%;
   
}
.main-division{
    height: 100px;
}