@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");

.Menu-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.Menu-content-mobile {
  padding: 37px 25px;
  background-image: url("../nosotros/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.Menu-content-desktop {
  display: none;
  padding: 37px 25px;
  background-image: url("../nosotros/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (min-width: 768px) {
  .Menu-content-mobile {
    display: none;
  }
  .Menu-content-desktop {
    display: block;
  }
}

h4 {
  color: white;
  font-family: "Train One", cursive;
  font-size: 1.5em;
  /* background-color: orange; */
  text-align: center;
  padding-top: 2em;
}
h5 {
  color: white;
  font-family: "Train One";
  font-size: 20px;
  /* background-color: orange; */
  /* text-align: left; */
  font-weight: 400;
  margin-top: 20px;
}

p {
  font-family: "Jost";
  color: white;
  text-align: center;
  font-size: 14px;
}

button {
  border: 1px solid #fad02c;
  color: #fad02c;
  background: none;
  margin: 10px;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}

button:hover {
  background-color: #fad02c;
  color: black;
  box-shadow: var(---buttom-shadow);
}

.Menu-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Menu-header-img {
  width: 100%;
  min-height: 50vh;
}

.Menu-titulo {
  margin-top: -2.5em;
}

.Menu-comida-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}
.Menu-comida-card img {
  width: 70%;
  margin-bottom: 1em;
}

.Menu-bebidas-slider {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Menu-bebidas-slider img {
  width: 30%;
}

.Menu-carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}

/*Desktop*/
.Menu-content-desktop {
  position: relative;
}

.Menu-desktop-vector {
  width: 100%;
  position: absolute;
  left: 0;
  transform: translateY(-5%);
}
.Menu-desktop-h4 {
  margin-left: 0.5em;
  text-align: left;
  font-size: 30px;
  font-family: "Train One";
  font-weight: 400;
  margin-top: 50px;
}

.Menu-desktop-card {
  padding: 0;
}

.Menu-desktop-card img {
  width: 100%;
  height: 70%;
  z-index: 2;
  position: relative;
}
.Menu-desktop-card h5 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Jost";
}
.Menu-desktop-card p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Jost";
}
@media only screen and (min-width: 991px) {
  .Menu-desktop-h4 {
    margin-left: 0.5em;
    text-align: left;
    font-size: 60px;
    font-family: "Train One";
    font-weight: 400;
    margin-top: 0;
  }
  .Menu-desktop-card h5 {
    font-size: 44px;
    font-weight: 700;
    font-family: "Jost";
  }
  .Menu-desktop-card p {
    font-size: 32px;
    font-weight: 400;
    font-family: "Jost";
  }
  .Menu-desktop-card img {
    width: 100%;
    height: 70%;

    z-index: 2;
    position: relative;
  }
  .Menu-desktop-vector {
    width: 100%;
    position: absolute;
    left: 0;
    transform: translateY(0%);
  }
}
