:root {
  --font-family: "Jost", sans-serif;
  --font-familySecundario: "Train One";
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
  ---buttom-shadow: 0 0 20px #fad02c, 0 0 4px #fad02c, 0 0 20px #fad02c;
  --color-alternativo-footer: #939294;
}

.nosDesktop-wrapper {
  margin: auto;
  max-width: 1440px;
  margin-top: 3%;
  position: relative;
}

.nosDesktop-caja2-wrapper {
  position: relative;

  margin-top: 2em;
}
.nosDesktop .nosDesktop-caja3 {
  margin: 40px 0;
  margin-bottom: 80px;
}
.nosDesktop .nosDesktop-caja1 {
  padding: 2em 2em;
}
.nosDesktop .nosDesktop-caja1 p {
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
  position: relative;
}
.logos-index {
  width: 100%;
  height: 100%;
  min-height: 15em;

  position: relative;
}

.nosDesktop .nosDesktop-caja1 img {
  width: 70%;
  position: absolute;
}
.nosDesktop .nosDesktop-caja1 .logo1 {
  top: 2em;
  left: 0;
}
.nosDesktop .nosDesktop-caja1 .logo2 {
  top: 4em;
  left: 2em;
}
.nosDesktop .nosDesktop-caja1 .logo3 {
  top: 7em;
  left: 5em;
}

.nosDesktop .nosDesktop-caja2 .circular-vector-desk {
  position: absolute;
  width: 100%;
  transform: translateY(50%);
  bottom: 60%;
}

.nosDesktop-caja2-h3 {
  margin: 1em 30px;
}
.caja2-logos {
  display: flex;
  justify-content: space-around;
}
.nosDesktop .nosDesktop-caja2 .logos {
  width: 20%;
  z-index: 2;
}
.nosDesktop .nosDesktop-caja3 .sub-caja1 p {
  font-size: 20px;
}
.nosDesktop .nosDesktop-caja3 span {
  font-family: var(--font-familySecundario);
}
.nosDesktop .nosDesktop-caja3 .sub-caja1 {
  text-align: center;
  margin: 0 auto;
  padding: 0 5%;
}
.nosDesktop .nosDesktop-caja3 .sub-caja2 {
  font-size: 36px;
}

@media screen and (min-width: 991px) {
  .nosDesktop .nosDesktop-caja1 p {
    font-size: 32px;
    font-weight: 400;
    z-index: 2;
    position: relative;
  }
  .nosDesktop .nosDesktop-caja3 .sub-caja2 {
    font-size: 48px;
  }
  .nosDesktop .nosDesktop-caja3 .sub-caja1 p {
    font-size: 36px;
  }

  .nosDesktop .nosDesktop-caja3 .sub-caja1 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 48px;
    margin-bottom: 3%;
  }

  .nosDesktop .nosDesktop-caja1 .logos-index {
    width: 100%;
    height: 100%;

    position: relative;
  }
  .nosDesktop .nosDesktop-caja1 img {
    width: 60%;
    position: absolute;
  }
  .nosDesktop .nosDesktop-caja1 .logo1 {
    top: 0;
    left: 0;
  }
  .nosDesktop .nosDesktop-caja1 .logo2 {
    top: 5em;
    left: 5em;
  }
  .nosDesktop .nosDesktop-caja1 .logo3 {
    top: 10em;
    left: 9em;
  }

  .nosDesktop .nosDesktop-caja2 .circular-vector {
    position: absolute;

    height: 100%;
    width: 100%;
  }
  .nosDesktop .nosDesktop-caja2 {
    position: relative;
  }
  .nosDesktop .nosDesktop-caja3 {
    margin: 5em;
  }
  .nosDesktop .nosDesktop-caja2 .circular-vector-desk {
    position: absolute;
    width: 100%;
    transform: translateY(50%);
    bottom: 60%;
  }
}
