:root {
  --font-family: "Jost", sans-serif;
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
}

.menu-desktop .row {
  height: 100%;
  position: relative;
  margin: 2% 0;
}
.menu-desktop .menu-fila {
  height: 100%;
  width: 100%;
}
.menu-desktop .menu-fila .menu-columna {
  padding: 0 2%;
  margin-bottom: 40px;
}
.item-menu {
  height: 100%;

  color: var(--color-primary);
  font-family: var(--font-family);
}

.item-menu .item-header {
  height: 65%;
}
.item-menu .item-texto {
  padding-left: 10%;
}

.item-menu .item-header img {
  height: 95%;
  width: 100%;
  z-index: 2;
}
.item-menu h2 {
  font-weight: 600;
  font-size: 23px;
  margin-top: 10%;
}
.item-menu p {
  font-weight: 400;
  font-size: 15px;
  text-align: start;
}

.menu-desktop .vectorDesk {
  position: absolute;
  transform: translateY(-50%);
  top: 35%;
  left: 0;
}
@media (min-width: 991px) {
  .menu-desktop {
    width: 110%;
    margin-left: -5%;
  }

  .item-menu h2 {
    font-weight: 600;
    font-size: 28px;
    margin-top: 10%;
  }
  .item-menu p {
    font-weight: 400;
    font-size: 20px;
    text-align: start;
  }
  .item-menu .item-texto {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .menu-desktop {
    width: 100%;
    margin-left: 0;
  }
  .item-menu .item-header img {
    height: 95%;
    width: 90%;
    z-index: 2;
  }

  .item-menu h2 {
    font-weight: 600;
    font-size: 40px;
    margin-top: 10%;
  }
  .item-menu p {
    font-weight: 400;
    font-size: 28px;
    text-align: start;
  }
  .item-menu .item-texto {
    padding-left: 0;
  }
}
