:root {
  --font-family: "Jost", sans-serif;
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
}

.menu-desktop .row {
  height: 100%;
  position: relative;
}
.menu-desktop .menu-fila {
  height: 100%;
  width: 100%;
}
.menu-desktop .menu-fila .menu-columna {
  padding: 0;
  margin-bottom: 40px;
}
.item-menu {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: var(--color-primary);
  font-family: var(--font-family);
}

.item-menu .item-header {
  height: 50%;
  display: flex;
  justify-content: center;
}
/* .item-menu .item-texto {
  height: 30%;
  border: 1px solid rgb(29, 227, 42);
  padding: 20px 50px;
} */

.item-menu .item-header img {
  height: 100%;
  width: 80%;
  /* position: relative; */
  z-index: 2;
  /* margin: 0 auto; */
}
.item-menu h2 {
  font-weight: 600;
  font-size: 25px;
}
.item-menu p {
  font-weight: 400;
  font-size: 15px;
}

.menu-desktop .vectorDesk {
  position: absolute;
  top: -10%;
  left: 0;
}
@media (min-width: 1000px) {
  .item-menu .item-header {
    height: 65%;
    display: flex;
    justify-content: center;
  }
  .item-menu .item-header img {
    height: 100%;
    width: 80%;
    /* position: relative; */
    z-index: 2;
    /* margin: 0 auto; */
  }
  .item-menu h2 {
    font-weight: 600;
    font-size: 40px;
  }
  .item-menu p {
    font-weight: 400;
    font-size: 28px;
  }
  
}
