@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.Eventos-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Eventos-text {
  padding: 16px;
  font-size: 12px;
  font-family: "Jost";
  z-index: 2;
  position: relative;
}

.Eventos-form {
  width: 100%;
  padding: 0 20px;
}
.Eventos-form form {
  padding: 5px 0px;
}
.Eventos-form form {
  box-shadow: 2px 2px 30px #dd1919;
  background-color: black;
}

.Eventos-detalle {
  margin: 50px 0;
}

.Eventos-detalle .karaoke img {
  width: 60%;
  height: 55%;
  transform: translateX(50%);
}
.Eventos-detalle .bandas img {
  width: 65%;
  height: 60%;
  transform: translateX(10%);
}
.Eventos-detalle h2 {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Jost";
  margin: 20px 0;
}

.Eventos-detalle .Eventos-detalle-wrapper .karaoke h4,
p {
  text-align: start;
}
.Eventos-detalle .Eventos-detalle-wrapper .bandas h4 {
  text-align: end;
}
@media only screen and (min-width: 768px) {
  .Eventos-text {
    font-size: 25px;
  }
  .Eventos-form form {
    padding: 20px 20px;
  }
  .Eventos-detalle h2 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  .Eventos-form {
    padding: 0 40px;
  }
  /* .Eventos-detalle-wrapper {
    padding: 0 20px;
  } */
  .Eventos-form form label {
    font-family: "Jost";
    color: white;
    position: absolute;
    top: -0.5em;
    z-index: 1;
    left: 1em;
    background-color: black;
    padding: 3px 10px;
    font-size: 24px;
  }
  .Eventos-form form input::placeholder {
    font-family: "Jost";
    font-weight: 500;
    color: #817f7f;
    font-size: 24px;
    padding: 5px 3px;
  }
}

@media only screen and (min-width: 991px) {
  .Eventos-text {
    font-size: 25px;
  }
  .Eventos-form {
    padding: 0 190px;
  }
  .Eventos-form form {
    padding: 40px 20px;
  }
  .Eventos-form form input::placeholder {
    font-family: "Jost";
    font-weight: 500;
    color: #817f7f;
    font-size: 36px;
    padding: 5px 3px;
  }
  .Eventos-form form label {
    font-family: "Jost";
    color: white;
    position: absolute;
    top: -0.5em;
    z-index: 1;
    left: 1em;
    background-color: black;
    padding: 3px 10px;
    font-size: 32.35px;
  }
}

.inputContainer {
  position: relative;
  padding: 1em;
}

.Eventos-form input {
  background-color: transparent;
  border: 1px solid #817f7f;
  border-radius: 5px;
  width: 100%;
  padding: 7px 8px;
  color: #817f7f;
}

input:focus {
  border: none;
  background-color: transparent;
  outline: white solid 1.5px;
}

.Eventos-form input::placeholder {
  font-family: "Jost";
  color: #817f7f;
  font-size: 12px;
  padding: 5px 3px;
}

.Eventos-form label {
  font-family: "Jost";
  color: white;
  position: absolute;
  top: 0.5em;
  z-index: 1;
  left: 3.5em;
  background-color: black;
  padding: 3px 10px;
  font-size: 10px;
}

.button-wrapper {
  display: flex;
}

.Form-button {
  font-family: "Jost";
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  font-weight: 400;
}
.Form-button button {
  border-radius: 5px;
}

/* Eventos-detalle */

.Eventos-detalle {
  width: 100%;
  position: relative;
}

.Eventos-detalle-wrapper {
  position: relative;
  z-index: 2;
}

.Eventos-detalle-vector {
  position: absolute;

  width: 100%;

  transform: translateY(50%);
  bottom: 30%;
  left: 0;
}

.Eventos-detalle p {
  font-size: 1em;
}

.Eventos-detalle h4 {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .Eventos-detalle p {
    font-size: 1.5em;
  }
  .Eventos-detalle h4 {
    font-size: 2em;
  }
  .Eventos-detalle h2 {
    font-size: 26px;
  }

  .inputContainer input {
    padding: 12px 5px;
  }
  .inputContainer input::placeholder {
    font-size: 20px;
  }

  .inputContainer label {
    font-size: 20px;
    top: 0.1em;
    left: 2em;
  }
  .Eventos-detalle .karaoke{
    padding-left: 5%;
  }
  .Eventos-detalle .bandas{
    padding-right: 5%;
  }
  .Eventos-detalle .karaoke img {
    width: 65%;
    height: 72%;
   
    transform: translateX(50%);
  }
  .Eventos-detalle .bandas img {
    width: 70%;
    height: 77%;
    transform: translateX(10%);
  }
}
@media only screen and (min-width: 991px) {
  .Eventos-detalle {
    padding: 0 80px;
    position: relative;
  }
  .Eventos-detalle h2 {
    font-size: 56px;
  }

  .Eventos-detalle p {
    font-size: 56px;
    margin: 70px 0;
  }
  .Eventos-detalle h4 {
    font-size: 72px;
  }

  .Eventos-detalle .karaoke h4 {
    text-align: start;
  }
  .Eventos-detalle .karaoke p {
    font-size: 32px;

    text-align: start;
    transform: translateY(-110%);
  }
  .Eventos-detalle .bandas h4 {
    text-align: end;
  }
  .inputContainer input {
    padding: 12px 5px;
  }
  .inputContainer input::placeholder {
    font-size: 20px;
  }

  .inputContainer label {
    font-size: 20px;
    top: 0.1em;
    left: 2em;
  }
  .Eventos-detalle .karaoke img {
    width: 90%;
    height: 65%;
   
    transform: translateX(10%);
  }
  .Eventos-detalle .bandas img {
    width: 95%;
    height: 65%;
    transform: translateX(5%);
  }
  .Eventos-detalle-vector {
    position: absolute;
  
    width: 100%;
  
    transform: translateY(50%);
    bottom: 40%;
    left: 0;
  }
  
}

/* .Eventos-detalle-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .Eventos-detalle-wrapper img {
  width: 60%;
}
.Eventos-detalle-wrapper .imagen-karaoke {
  width: 55%;
  transform: translateX(60%);

  position: relative;
} */

/* .karaoke {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2em 0;
} */
