@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap");
.bg-color {
  background-color: #010101;
  z-index: 30;
}

.deploy-nav {
  position: absolute;
  height: 340px;
  top: 60px;
  background-color: #010101;
  transform: translateY(-320px);
  width: 100vw;
  left: 0;
  transition: all 0.5s;
}
.show {
  transform: translateY(0px);
}
.container-fluid .navbar-brand span {
  animation-name: deploy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes deploy {
  0% {
    filter: drop-shadow(0 2px 2px rgb(79, 14, 14));
  }
  50% {
    filter: drop-shadow(0 2px 10px rgb(255, 17, 0));
  }
  100% {
    filter: drop-shadow(0 2px 13px rgb(255, 0, 0));
  }
}
.deploy-nav ul li a {
  padding-left: 30px;
  padding: 20px;
  display: block;
}
.deploy-nav ul li a span {
  position: relative;
}
.deploy-nav ul li a span::after {
  content: "";
  height: 30px;
  width: 100%;
  border-bottom: 2px solid rgb(87, 35, 35);
  position: absolute;
  transform: scale(0);
  transition: 0.1s;
  left: 0;
}
.deploy-nav ul li a span:hover {
  font-size: 18px;
}
.deploy-nav ul li a span:hover:after {
  transform: scale(1);
  filter: drop-shadow(0 2px 5px red);
}
.navbar .title {
  font-family: "Jost", sans-serif;
  font-weight: 700;
}
.navbar .fs-6 {
  font-family: "Jost", sans-serif;
  margin-left: 10px;
}

.secondary-navBar {
  display: none;
}

@media (min-width: 992px) {
  .secondary-navBar {
    display: block;
  }

  .secondary-navBar ul li a {
    font-size: larger;
    font-weight: 700;
    font-family: "Jost", sans-serif;
  }
  .secondary-navBar ul li a:hover {
    background-color: #ce3434;
    box-shadow: 0 0 10px #d90b0b, 0 0 4px #d60e0e, 0 0 80px #e41818;
    border-radius: 5px;
  }
  .navbar-brand {
    display: none;
  }
  .deploy-nav {
    display: none;
  }
  .logo {
    width: 130px;
    height: 120px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: logos;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes logos {
    0% {
      filter: drop-shadow(0 2px 2px rgb(79, 14, 14));
    }
    50% {
      filter: drop-shadow(0 2px 10px rgb(255, 17, 0));
    }
    100% {
      filter: drop-shadow(0 2px 13px rgb(255, 0, 0));
    }
  }
  .nuevo {
    display: none;
  }
}
