@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap");

#navBar {
  position: fixed;
  background-color: #010101;
  z-index: 5;
}
.menu {
  display: none;
}
#navBar .container .row .text-white {
  padding: 10px 0;
  color: #ffffff;
}
#navBar .container .row .text-white .taller {
  font-weight: 900;
  font-size: 24px;
}
#navBar .container .row .text-white .taller:hover {
  color: #fad02c;
}
#navBar .container .row .text-white .cervezeria:hover {
  color: #fad02c;
}
#navBar .deploy-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 20px 0;
}
#navBar .deploy-nav .nav-link {
  color: #ffffff;
}
#navBar .deploy-nav .nav-link:hover {
  color: #fad02c;
}
.show {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: block;
    position: absolute;
    color: #ffffff;
    top: 1px;
    right: 20px;
    font-size: 30px;
    z-index: 30;
    cursor: pointer;
  }
  #navBar .deploy-nav {
    display: none;
  }

  .show {
    position: absolute;
    display: block;
    background-color: #010101c2;
    transition: all 0.5s ease-out;
    list-style: none;
    width: 100%;
    left: 0;
    text-align: center;
  }
  .show .nav-link {
    margin: 20px 0;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    color: #ffffff;
  }
  .show .nav-link:hover {
    color: #fad02c;
  }
}
/* @media only screen and (max-width: 768px) {
  .menu {
    display: block;
    position: absolute;
    right: 45px;
    top: 15px;
    color: #ffff;
    z-index: 10;
  }
  .deploy-nav {
    height: 100vh;
    background-color: rgba(0, 5, 15, 0.4);
    display: block;
    width: 30%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    display: flex;
    margin: 0;
    position: absolute;
    
  }

  .show {
    transform: translateX(-240px);
  }
  .deploy-nav img {
    display: none;
  }
  .deploy-nav ul {
    display: block;
    margin-top: 150px;
  }
  .deploy-nav li {
    padding: 20px 0;
  }
  .deploy-nav ul li .nav-link {
    border-radius: 0;
    background-color: inherit;
    text-align: left;
    padding-left: 30px;
  }
  span {
    margin-left: 10px;
    position: absolute;
    margin-top: 3px;
  }
}
@media only screen and (max-width: 600px) {
  .deploy-nav {
    width: 100%;
    transform: translateX(0);
    background-color: rgba(0, 5, 15, 0.8);
   z-index: 5;
  }
  .show {
    transform: translateX(-600px);
  }
  .deploy-nav ul li .nav-link {
    padding: 10px 0;
    text-align: center;
  }
  .deploy-nav ul {
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    
  }
  .menu {
    z-index: 5;
  }
} */

/* .bg-color {
  background-color: #010101;
  z-index: 30!important;
  position: relative;
}

.deploy-nav {
  position: absolute;
  height: 340px;
  top: 60px;
  background-color: #010101;
  transform: translateY(-320px);
  width: 100vw;
  left: 0;
  transition: all 0.5s;
  z-index: -1;
}
.show {
  transform: translateY(-10px);
}
.container-fluid .navbar-brand span {
  animation-name: deploy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes deploy {
  0% {
    filter: drop-shadow(0 2px 2px rgb(79, 14, 14));
  }
  50% {
    filter: drop-shadow(0 2px 10px rgb(255, 17, 0));
  }
  100% {
    filter: drop-shadow(0 2px 13px rgb(255, 0, 0));
  }
}
.deploy-nav ul li a {
  padding-left: 30px;
  padding: 20px;
  display: block;
}
.deploy-nav ul li a span {
  position: relative;
}
.deploy-nav ul li a span::after {
  content: "";
  height: 30px;
  width: 100%;
  border-bottom: 2px solid rgb(87, 35, 35);
  position: absolute;
  transform: scale(0);
  transition: 0.1s;
  left: 0;
}
.deploy-nav ul li a span:hover {
  font-size: 18px;
}
.deploy-nav ul li a span:hover:after {
  transform: scale(1);
  filter: drop-shadow(0 2px 5px red);
}
.navbar .title {
  font-family: "Jost", sans-serif;
  font-weight: 700;
}
.navbar .fs-6 {
  font-family: "Jost", sans-serif;
  margin-left: 10px;
}

.secondary-navBar {
  display: none;
}

@media (min-width: 992px) {
  .secondary-navBar {
    display: block;
  }

  .secondary-navBar ul li a {
    font-size: larger;
    font-weight: 700;
    font-family: "Jost", sans-serif;
  }
  .secondary-navBar ul li a:hover {
    background-color: #ce3434;
    box-shadow: 0 0 10px #d90b0b, 0 0 4px #d60e0e, 0 0 80px #e41818;
    border-radius: 5px;
  }
  .navbar-brand {
    display: none;
  }
  .deploy-nav {
    display: none;
  }
  .logo {
    width: 130px;
    height: 120px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: logos;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes logos {
    0% {
      filter: drop-shadow(0 2px 2px rgb(79, 14, 14));
    }
    50% {
      filter: drop-shadow(0 2px 10px rgb(255, 17, 0));
    }
    100% {
      filter: drop-shadow(0 2px 13px rgb(255, 0, 0));
    }
  }
  .nuevo {
    display: none;
  }
} */
