@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap");

:root {
  --font-family: "Jost", sans-serif;
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
}

#navBar {
  max-width: 1440px;
  width: 100%;
  height: 56px;
  position: fixed;
  background-color: var(--color-background);
  z-index: 5;
  transform: translateX(50%);
  right: 50%;
  top: 0;
  color: var(--color-primary);
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
}
.menu {
  display: none;
}
#navBar .text-white {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  font-family: var(--font-family);
}
#navBar .text-white .taller span {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family);
  margin-left: 8px;
}
#navBar .deploy-nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}
#navBar ul li {
  margin-left: 40px;
}
#navBar .text-white .taller:hover {
  color: var(--color-secondary);
}
#navBar ul li:hover {
  color: var(--color-secondary);
}
#navBar ul li {
  font-weight: 700;
  font-size: 16px;

  font-family: var(--font-family);
}
@media only screen and (max-width: 1100px) {
  #navBar {
    max-width: 1440px;
    width: 100%;
    height: 56px;
    position: fixed;
    background-color: var(--color-background);
    z-index: 5;
    transform: translateX(50%);
    right: 50%;
    color: var(--color-primary);
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
  }
  #navBar ul li {
    margin-left: 35px;
  }
}
@media only screen and (max-width: 991px) {
  #navBar {
    max-width: 1440px;
    width: 100%;
    height: 56px;
    position: fixed;
    background-color: var(--color-background);
    z-index: 5;
    transform: translateX(50%);
    right: 50%;
    color: var(--color-primary);
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }
  #navBar ul li {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #navBar .deploy-nav {
    display: none;
  }
  .menu {
    display: block;
    font-size: 32px;
  }
  .show {
    position: absolute;
    display: block;
    background-color: var(--color-background);
    transition: all 0.5s ease-out;
    list-style: none;
    width: 100%;
    left: 0;
    text-align: center;
    top: 56px;
    padding: 0;
  }
  .show li .nav-link {
    font-size: 16px;
    margin: 40px 0;
  }
}
@media only screen and (min-width: 769px) {
  .show {
    display: none;
  }
}
