@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");

:root {
  --font-family: "Jost", sans-serif;
  --color-primary: rgba(254, 254, 254, 1);
  --color-secondary: rgba(250, 208, 44, 1);
  --color-background: rgba(1, 1, 1, 1);
}
#booKing {
  max-width: 1440px;
  width: 100%;
  height: 46px;
  background-color: var(--color-background);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-shadow: -17px -2px 20px 12px var(--color-background);
  z-index: 95;
}
.booking-message {
  font-family: var(--font-family);
  color: var(--color-primary);
  font-weight: 400;
  font-size: 16px;
}
.booking {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
  padding: 4px 15px;
  position: relative;
  z-index: 2;
}
.booking:hover {
  background-color: var(--color-secondary);
  color: black;
  box-shadow: 0 0 20px var(--color-secondary), 0 0 4px var(--color-secondary),
    0 0 20px var(--color-secondary);
}

@media (min-width: 768px) {
  #booKing {
    max-width: 1440px;
    width: 100%;
    height: 70px;
    background-color: var(--color-background);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
  }
  .booking-message {
    font-family: "Jost", sans-serif;
    color: var(--color-primary);
    word-spacing: 0.1em;
    font-size: 24px;
  }
  .booking {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    padding: 4px 15px;
    font-size: 24px;
    margin-left: 40px;
  }
}

@media (min-width: 991px) {
  #booKing {
    max-width: 1440px;
    width: 100%;
    height: 70px;
    background-color: var(--color-background);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;

  }
  .booking-message {
    font-family: "Jost", sans-serif;
    color: var(--color-primary);
    word-spacing: 0.1em;
    font-size: 36px;
  }
  .booking {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    padding: 4px 15px;
    font-size: 32px;
    margin-left: 40px;
  }
}
